body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.name-heighlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left; 
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(../web-portfolio/images/top-banner.png);
    background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(250, 248, 248);
    font-weight:700 ;
} 
.dream-area{
    background-image: url(../web-portfolio/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    background-color: white;
    box-shadow: 10px 10px 40px gray ;
    height: 50%;
}
.Experience{
    background-image: url(../web-portfolio/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.Experience h1{
    text-align: center;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, black, orange);
    border-image-slice: 1;
}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan
    );
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}